.box{
    height: 250px;
    width: 500px;
    border-radius: 5px;
    padding: 20px;
    margin-left: 40%;
    margin-top: 5%;
}

.headerBox{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
}



@media screen and (max-width: 768px) {
    .box{
        margin: 240px 40px 40px 70px ;
    }
}