.container{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 20vw;
}


@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
}