.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    width: 450px;
}

.mainBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
}