.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 25%;
    margin-left:40%;
    margin-top: 10%;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 2vh;
}

.currentButton{
    width: 30%;
}

@media screen and (max-width: 768px) {
    .modal{
        width: 70%;
        margin-left: 15%;
        margin-top: 50%;
    }
    .currentButton{
        width: 40%;
    }
}