
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
}



.title{
    position: relative;
    top: 160px;
    left: 100px;
}