.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 15px;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .container{
        margin-top: 150px;
    }
}